* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/NetflixSans-Regular.otf);
}

.index {
    background-color: #141414;
    text-align: center;
    font-family: myfont;
    padding: auto;
    margin: auto;
    align-items: center;
}

.div {
    margin-top: auto;
    margin-bottom: auto;
}

.users>a {
    text-decoration: none;
}

.index .manageProfile {
    text-decoration: none;
    color: gray;
    border: 1px solid;
    padding: 5px 15px 5px 15px;
    margin: 2em 0 1em;
    display: inline-block;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.imgUser {
    width: 12rem;
    height: 12rem
}

.user {
    margin: 5px 5px;
}

.user:hover>p {
    color: aliceblue;
}

.user:hover>div>img {
    border: 3px white solid;
}

.user>p {
    color: gray;
    margin-top: 20px;
}

.conten {
    color: white;
    font-size: 4rem;
    /* margin-top: 15rem; */
    margin-bottom: 2rem;
}

.imgUser>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.index .manageProfile:hover {
    border: 1px white solid;
    color: white;
}