* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/NetflixSans-Regular.otf);
}

.container {
    font-family: myfont;
    background-color: #141414;
    margin: 0;
    padding: 0;
    position: relative;
}

.padding {
    padding: 0 50px 0 50px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu>li>a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

ul.menu>li>a:hover {
    color: grey;
}

.flex {
    display: flex;
}

.space {
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
}

header {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.0);
}

header>div:last-child {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px white solid;
    padding: 5px 20px 0;
}

header>div>input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
    outline: none;
}

header>div>span>img {
    height: 20px;
}

.display_none {
    display: none;
}

::placeholder {
    color: grey;
}

/* main */

.v-menu {
    flex-direction: column;
}

.rowHeader {
    color: white;
    font-weight: 500;
}

button {
    color: white;
    font-size: 25px;
    background-color: #141414;
    border: none;

}

.rowButton>button {
    border-radius: 5px;
}

.rowButton .bx-play-circle:hover {
    color: gray;
}

.rowButton .bx-like:hover {
    color: gray;
}

.rowButton .bx-chevron-down-circle:hover {
    color: gray;
}

.rowMovie {
    width: 100%;
    flex-wrap: wrap;
}


.rowContainer {
    margin: 10px 0 10px;
    padding: 5px 5px;
    flex-wrap: wrap;
    height: auto;
    width: 20%;
    transition: transform .5s;
    border-radius: 5px;
    text-decoration: none;
    background-color: #141414;
    /* Animation */
}

.rowContainer>img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

.name-movie {
    font-size: 1.5rem;
}

.itembot {
    display: none;
    background-color: #141414;
    border-radius: 5px;
    width: 98%;
}

a:hover .itembot {
    display: block;
    position: absolute;
    bottom: -20px;
    z-index: 99;
}

a:hover {
    transform: scale(1.3);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* footer */
footer {
    color: grey;
    margin: 20px auto 0;
    max-width: 1200px;
    padding: 0 4%;
}

table {
    border-spacing: 20px 10px;
    text-align: left;
}

table>tbody>tr>th>i {
    font-size: 40px;
}

table>tbody>tr>td {
    width: 20rem;
    box-sizing: border-box;
}

.footer td:hover {
    text-decoration: 1px dotted white;
    border-bottom: 2px solid gray;
}

/* nav */
.danhSach {
    display: none;
}

nav {
    position: absolute;
    top: 60px;
    z-index: 999;
}

#cars {
    border: 1px solid transparent white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#cars:hover {
    background-color: rgba(0, 0, 0, 1);

}

label {
    color: white;
    font-size: 2rem;
}

.backgroud {
    height: 30rem;
    background-image: url(../img/backgroudMovie.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backgroud>div {
    width: 50%;
    margin-left: 3rem;
}

.button>input {
    margin-top: 50px;
    height: 3rem;
    width: 10rem;
    color: #141414;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
}

.button>input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.conten>p {
    margin-top: 20px;
}