* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/NetflixSans-Regular.otf);
}

/* Video */
video {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#hero #heroVideoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
}

@media (min-width: 768px) {
    #hero #heroVideoBg {
        display: inline-block;
    }
}

#hero #heroImgBg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 768px) {
    #hero #heroImgBg {
        display: none;
    }
}

#heroContent {
    width: 50%;
    height: fit-content;
    align-items: center;
    position: absolute;
    top: 20rem;
    left: 0;
    padding-left: 5rem;
}

/* header */
.discoloration {
    background-color: #141414;
    transition: 0.4s;
}

.discolorationNone {
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.5s;

}

.hideSearch {}

.logoNetflix {
    cursor: pointer;
}

.container {
    font-family: myfont;
    background-color: #141414;
    margin: 0;
    padding: 0;
    position: relative;
}

.padding {
    padding: 0 50px 0 50px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#login{
    
    
    height:30px;
    display:flex;
    text-decoration: none;
    margin:20px;
    background:none;
    margin-right: 2%;
    margin-bottom: 12px;
    cursor: pointer;

}

ul.menu>li>a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

ul.menu>li>a:hover {
    color: grey;
}

.flex {
    display: flex;
    align-items: center;
}

.space {
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
}

header {
    height: 4rem;
    /* background-color: rgba(0, 0, 0, 0.0); */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.search {
    background-color: rgba(3, 3, 3, 0.0);
    padding: 5px 20px 0px 5px;
    width: 30px;
    transition: width 0.5s;
}

.search img {
    padding-right: 5px;
    cursor: pointer;
}

header>div>div>div>input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
    outline: none;
}

#kw {
    display: none;
    /* z-index: -1; */
}

.position {
    position: fixed;
    right: 70px;
    height: 31px;
}

#btSeacrh {
    color: grey;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    height: 100%;
    border: 1px solid white;
    margin-left: 2px;
    width: 40px;
    cursor: pointer;
}

header>div>div>div>span>img {
    height: 20px;
}

.display_none {
    display: none;
}

::placeholder {
    color: grey;
}

.rowConten {
    margin: 0 auto;
    font-size: 0.8vw;
}

/* main */

.v-menu {
    flex-direction: column;
}

.lolomorow {
    /* margin-top: 30px; */
    padding-top: 30px;
}

.rowHeader>h2 {
    cursor: pointer;
    display: inline-block;
}

.rowHeader>h2 i {
    cursor: pointer;
    color: #0a5e98;
    font-size: 1.2rem;
}

.viewAll {
    height: 100%;
    width: 200px;
    font-weight: 100;
    font-size: 1rem;
    display: none;
    color: rgba(0, 0, 0, 0.0);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -5rem;
    z-index: -1;
    transition: left 1s;
    /* transition: color 1s; */
    cursor: pointer;
}

.rowHeader:hover i {
    /* left: 10rem; */
    color: #0a5e98;
    display: inline;
}

.rowHeader:hover .viewAll {
    left: 1rem;
    color: #0a5e98;
}

.rowHeader>h2:hover {
    color: gray;
}

.viewAll:hover {
    left: 1rem;
    color: #0a5e98;
}

.rowHeader p {
    height: 100%;
    /* width: auto; */
    color: white;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2.5rem;
    display: inline-block;
}

.rowHeader {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2.5rem;
}

.rowHeader>i {
    color: #0a5e98;
    font-size: 2.5rem;
    display: none;
    font-weight: 100;
}

button {
    color: white;
    font-size: 35px;
    background-color: #141414;
    border: none;

}

.button>ul {
    margin-top: 3rem;
}

.btBackgrooudPlay {
    color: black;
    background-color: white;
    height: 3rem;
    align-items: center;
    font-size: 2rem;
    display: flex;
    padding: 5px 20px;
    border-radius: 3px;
}

.btBackgrooudPlay p {
    background-color: rgba(255, 255, 255, 0.0);
}

.btBackgrooudInfo {
    border-radius: 3px;
    margin-left: 10px;
    background-color: rgba(58, 75, 90, 0.384);
    height: 3rem;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    padding: 5px 20px;
}

.rowButton {
    margin-top: 5px;
}

.rowButton>button {
    border-radius: 5px;
}

.rowButton i {
    color: rgb(184, 184, 184);
}

.rowButton i:hover {
    transform: scale(1.2);
}

.rowMovie {
    width: 100%;
    flex-wrap: wrap;
}

#rowMovie-5 .rowContainer {
    width: 33.33%;
}

#rowMovie-5 .rowContainer:hover {
    transform: scale(1.1);
}

#loloMovie-5 .categoryMovie {
    color: rgba(255, 0, 0, 0.774);
}

.rowContainer {
    margin: 0 0 10px;
    padding: 5px 3px;
    flex-wrap: wrap;
    height: auto;
    width: 20%;
    transition: transform .5s;
    border-radius: 5px;
    text-decoration: none;
}

.rowContainer>img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

.rowContainer:hover img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.name-movie {
    font-size: 1.5rem;
}

.itembot {
    height: 100px;
    padding: 0 10px;
    position: absolute;
    display: none;
    background-color: #141414;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 3px;
    right: 3px;
    /* text-align: center; */
    box-sizing: border-box;
    transition: bottom 2s;
}

.itembot span {
    color: green;
    border: 1px solid green;
    margin: 2px 4px;
    padding: 0 2px;
}

.itembot p {
    color: grey;
}

.itembot p {
    padding: 3px 0;
}

/* .itembot:hover {
    display: block;
    z-index: 99;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

} */

.rowContainer:hover .itembot {
    display: block;
    /* position: absolute; */
    bottom: -90px;
    z-index: 99;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 10px 1px, rgba(6, 24, 44, 0.65) 0px 0px 0px 0px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.rowContainer:hover {
    top: -20px;
    transform: scale(1.3);
    transition: transform 0.8s;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 10px 1px, rgba(6, 24, 44, 0.65) 0px 0px 0px 0px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* footer */
footer {
    color: grey;
    margin: 70px auto 0;
    max-width: 1200px;
    padding: 0 4%;
}

table {
    border-spacing: 20px 10px;
    text-align: left;
}

table>tbody>tr>th>i {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

table>tbody>tr>td {
    width: 20rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    color: gray;
}

table a {
    color: gray;
    /* cursor: pointer; */
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    /* text-decoration: 1px solid gray; */
}

table a:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    /* text-decoration: gray; */
}

.member-footer-copyright,
.member-footer-copyright>span {
    font-size: 0.7rem;
    color: gray;
    margin-left: 10px;
}

.madichvu {
    margin-top: 50px;
    margin-bottom: 30px;
}

.madichvu>a {
    border: 1px solid gray;
    color: gray;
    background-color: rgba(0, 0, 0, 0.0);
    text-decoration: none;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 20px;
    font-size: 0.8rem;
}

.madichvu>a:hover {
    color: white;
}

/* nav */
.danhSach {
    display: none;
}

.imgUser>img {
    width: 30px;
    border-radius: 10px;
}

.imgUser {
    margin-left: 10px;
    border-radius: 10px;
}

.imgUser:hover {
    border: 1px solid white;
}


#cars {
    border: 1px solid transparent white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#cars:hover {
    background-color: rgba(0, 0, 0, 1);

}

label {
    color: white;
    font-size: 2rem;
}

/* hinh nen */
.backgroud {
    height: 30rem;
    background-image: url(../img/backgroudMovie.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backgroud>div {
    width: 50%;
    margin-left: 3rem;
}


.button li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.button li {
    cursor: pointer;
}

.conten>p {
    margin-top: 20px;

    font-size: 20px;
}

.conten>h1 {
    font-size: 40px;
}

.movie-search {
    display: none;
}

#back_to_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 50px;
    color: #fff;
    z-index: 999;
    background-color: rgba(49, 46, 46, 0.548);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: backround-color, color;
}

#back_to_top:hover,
#back_to_top:focus {
    background-color: rgba(95, 91, 91, 0.705);
    color: white;
}

/* model */
.model {
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

.slider img {
    width: 100%;
    border-radius: 0.5rem;
}

.modelBackgroud {
    margin-top: 3rem !important;
    width: 60%;
    margin: auto;
    /* background-image: url(../img/final.jpg); */
    min-height: 100vh;
    position: relative;
    border-radius: 0.5rem;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modelBackgroud .tx_X {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgba(70, 70, 70, 0.384);
    z-index: 99;
}

.modelBackgroud i:hover {
    background-color: rgba(70, 70, 70, 0.856);

}

.model_conten {
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(141, 141, 141, 0.2), rgba(5, 5, 5, 1));
    padding: 10px 30px 50px 30px;
    color: gray;
    font-size: 1.3rem;
    z-index: 1;
}

.modelconten_left {
    width: 66%;
}

.model_conten_top {
    padding: 10px 0;
}

.model_conten_top>p {
    margin-top: 10px;
}


.modelconten_ringht {
    width: 34%;
}

.theLoai {
    border: 2px solid grey;
    padding: 2px;
}

.tx_play {
    position: none;
    color: black;
}

.inputPlay {
    width: 10rem;
    margin-top: 30px;
    cursor: pointer;
}

.model_conten span {
    color: green;
}

.owl-dots {
    color: #0a5e98 !important;
}

.owl-nav {
    top: 50%;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.owl-nav span {
    font-size: 3rem;
}

.owl-next {
    position: absolute;
    right: 0;
}

.item img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.nameMovie {
    margin-top: 10px;
}

.nameMovie h1 {
    font-size: 1.5rem;
}

.movieTop {
    position: relative;
    top: -15vh;
}

#rowMovie-search .rowContainer {
    width: 25%;
}

#rowMovie-search .rowContainer:hover {
    transform: scale(1.1);
}