* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(../fonts/NetflixSans-Regular.otf);
}

/* Video */
video {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

#hero #heroVideoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
}

@media (min-width: 768px) {
    #hero #heroVideoBg {
        display: inline-block;
    }
}

#hero #heroImgBg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 768px) {
    #hero #heroImgBg {
        display: none;
    }
}

#heroContent {
    width: 50%;
    height: fit-content;
    align-items: center;
    position: absolute;
    top: 20rem;
    left: 0;
    padding-left: 5rem;
}

/* header */
.discoloration {
    background-color: #141414;
    transition: 0.4s;
}

.discolorationNone {
    background-color: rgba(0, 0, 0, 0.0);
    transition: 0.5s;

}

.hideSearch {}

.logoNetflix {
    cursor: pointer;
}

.container {
    font-family: myfont;
    background-color: #141414;
    margin: 0;
    padding: 0;
    position: relative;
}

.padding {
    padding: 0 50px 0 50px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



ul.menu>li>a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

ul.menu>li>a:hover {
    color: grey;
}

.flex {
    display: flex;
    align-items: center;
}

.space {
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 90px;
}

header {
    height: 4rem;
    /* background-color: rgba(0, 0, 0, 0.0); */
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.search {
    background-color: rgba(3, 3, 3, 0.0);
    padding: 5px 20px 0px 5px;
    width: 30px;
    transition: width 0.5s;
}

.search img {
    padding-right: 5px;
    cursor: pointer;
}

header>div>div>div>input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
    outline: none;
}

#kw {
    display: none;
    /* z-index: -1; */
}

.position {
    position: fixed;
    right: 70px;
    height: 31px;
}

#btSeacrh {
    color: grey;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
    height: 100%;
    border: 1px solid white;
    margin-left: 2px;
    width: 40px;
    cursor: pointer;
}

header>div>div>div>span>img {
    height: 20px;
}

.display_none {
    display: none;
}

::placeholder {
    color: grey;
}

.rowConten {
    margin: 0 auto;
}

/* main */

.v-menu {
    flex-direction: column;
}

.lolomorow {
    margin-top: 30px;
}

.rowHeader {
    color: white;
    font-weight: 500;
}

button {
    color: white;
    font-size: 25px;
    background-color: #141414;
    border: none;

}

.button>ul {
    margin-top: 3rem;
}

.btBackgrooudPlay {
    color: black;
    background-color: white;
    height: 3rem;
    align-items: center;
    font-size: 2rem;
    display: flex;
    padding: 5px 20px;
    border-radius: 3px;
}

.btBackgrooudInfo {
    border-radius: 3px;
    margin-left: 10px;
    background-color: rgba(58, 75, 90, 0.384);
    height: 3rem;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    padding: 5px 20px;
}

.rowButton>button {
    border-radius: 5px;
}

.rowButton .bx-play-circle:hover {
    color: gray;
}

.rowButton .bx-like:hover {
    color: gray;
}

.rowButton .bx-chevron-down-circle:hover {
    color: gray;
}

.rowMovie {
    width: 100%;
    flex-wrap: wrap;
}


.rowContainer {
    margin: 10px 0 10px;
    padding: 5px 3px;
    flex-wrap: wrap;
    height: auto;
    width: 20%;
    transition: transform .5s;
    border-radius: 5px;
    text-decoration: none;
    background-color: #141414;
    /* Animation */
}

.rowContainer>img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}

.name-movie {
    font-size: 1.5rem;
}

.itembot {
    display: none;
    background-color: #141414;
    border-radius: 5px;
    width: 98%;
    text-align: center;
}

a:hover .itembot {
    display: block;
    position: absolute;
    bottom: -20px;
    z-index: 99;
}

.rowContainer:hover {
    transform: scale(1.3);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* footer */
footer {
    color: grey;
    margin: 70px auto 0;
    max-width: 1200px;
    padding: 0 4%;
}

table {
    border-spacing: 20px 10px;
    text-align: left;
}

table>tbody>tr>th>i {
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

table>tbody>tr>td {
    width: 20rem;
    box-sizing: border-box;
    font-size: 0.8rem;
    color: gray;
}

table a {
    color: gray;
    /* cursor: pointer; */
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    /* text-decoration: 1px solid gray; */
}

table a:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    /* text-decoration: gray; */
}

.member-footer-copyright,
.member-footer-copyright>span {
    font-size: 0.7rem;
    color: gray;
    margin-left: 10px;
}

.madichvu {
    margin-top: 50px;
    margin-bottom: 30px;
}

.madichvu>a {
    border: 1px solid gray;
    color: gray;
    background-color: rgba(0, 0, 0, 0.0);
    text-decoration: none;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 20px;
    font-size: 0.8rem;
}

.madichvu>a:hover {
    color: white;
}

/* nav */
.danhSach {
    display: none;
}

.imgUser>img {
    width: 30px;
    border-radius: 10px;
}

.imgUser {
    margin-left: 10px;
    border-radius: 10px;
}

.imgUser:hover {
    border: 1px solid white;
}


nav {
    position: absolute;
    top: 60px;
    z-index: 999;
}

#cars {
    border: 1px solid transparent white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#cars:hover {
    background-color: rgba(0, 0, 0, 1);

}

label {
    color: white;
    font-size: 2rem;
}

/* hinh nen */
.backgroud {
    height: 30rem;
    background-image: url(../img/backgroudMovie.jpg);
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.backgroud>div {
    width: 50%;
    margin-left: 3rem;
}


.button li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.button li {
    cursor: pointer;
}

.conten>p {
    margin-top: 20px;

    font-size: 20px;
}

.conten>h1 {
    font-size: 40px;
}

.movie-search {
    display: none;

}

#back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 50px;
    color: #fff;
    z-index: 999;
    background-color: #0a5e98;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: backround-color, color;
}

#back_to_top:hover,
#back_to_top:focus {
    background-color: #71afd5;
    color: white;

}