main {
    padding-top: 80px !important;
}

.flex-none {
    align-items: flex-start;
}

.left {
    width: 75%;
    margin: 5px;
}

.ringht {
    width: 25%;
    margin: 5px;
}

.movie {
    width: 100%;
    height: 80vh;
    border: none;
}

.rowContainer {
    width: 80%;
    /* height: 130px; */
}

.watch-acti {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 10px;
    color: #cccccc;
    /* height: 80px; */
}

.watch-acti-top {
    height: 60px;
    border-bottom: 2px solid #747474;
}

.watch-acti-boottom {
    padding-top: 10px;
    display: none;
}

.bt-watch-acti {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #747474;
    font-size: 20px;
    cursor: pointer;
}

.bt-watch-acti:hover {
    color: #cccccc;
}

.lolomorow {
    padding-top: 0;
    padding: 0 10px;
    height: auto;
}

.colorInput {
    background-color: white !important;
    color: black;
}

.BTAll .Btall {
    height: 30px;
    background-color: rgba(46, 46, 46, 1);
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 3px;
    border: none;
}

.BTAll {
    padding: 0 20px;
}

.rowConten {
    margin: 0 auto;
    font-size: 0.8vw;
}

#rowMovie-5 .rowContainer {
    width: 100%;
}

.theloai span {
    color: grey;

}

.theloai .spanRinght {
    right: 0;
    /* position: absolute; */
}

.theloai div {
    padding: 15px 0;
    border-bottom: 1px solid grey;
}

.nameMovie {
    margin-bottom: 10px;
}