@media screen and (max-width: 500px) {
    body {
        background-color: beige;
    }
}

#cars {
    display: none;
}

#heroContent {
    top: 3rem;
}

.menu {
    display: none;
}

select {
    display: block;
}

.search {
    /* display: none; */
}

.display_none {
    display: block;
}

.conten>p {
    display: none;
}

.button>input {
    margin-top: 20px;

}

.backgroud {
    height: 20rem;
}

.rowContainer {
    margin: 10px 0 10px;
    padding: 5px 5px;
    flex-wrap: wrap;
    /* height: 250px; */
    width: 100%;
}

nav {
    position: absolute;
    top: 30px;
    z-index: 999;
}

button {
    color: white;
    font-size: 30px;
    background-color: #141414;
    border: none;

}

/* footer */
footer {
    color: grey;
    margin: 20px auto 0;
    max-width: 100%;
    padding: 0 4%;
}

table {
    border-spacing: 30px 10px;
    text-align: left;
}

.btBackgrooudPlay {
    height: 1.5rem;
    align-items: center;
    font-size: 1rem;
    display: flex;
    padding: 5px 10px;
    border-radius: 3px;
}

.btBackgrooudInfo {
    border-radius: 3px;
    margin-left: 5px;
    background-color: rgba(58, 75, 90, 0.384);
    height: 1.5rem;
    align-items: center;
    font-size: 1rem;
    display: flex;
    padding: 5px 10px;
}

#hero {
    position: relative;
    width: 100%;
    min-height: 40vh;
}

#hero h1 {
    font-size: 1.5rem;
}

.xemthem {
    display: none;
}

.users {
    width: 100vw;
}

.user {
    width: 20%;
}

.imgUser {
    width: 100%;
    height: auto;
}

.conten {
    font-size: 2rem;
}

.div {
    margin-top: 50%;
}

.model_conten {
    font-size: 10px;
}

.btBackgrooudPlay {
    width: 90px;
}

.dplayHide {
    display: block;
}

.modelBackgroud {
    min-height: 65vh;
}

.movieTop {
    top: 0;
}

.rowConten {
    font-size: 3vw;
}

.rowContainer:hover .itembot {
    display: block;
    /* position: absolute; */
    bottom: -30px;
    z-index: 99;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 10px 1px, rgba(6, 24, 44, 0.65) 0px 0px 0px 0px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.rowContainer:hover .itembot {
    display: block;
    /* position: absolute; */
    bottom: -90px;
    z-index: 99;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 10px 1px, rgba(6, 24, 44, 0.65) 0px 0px 0px 0px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.rowContainer:hover {
    top: -20px;
    transform: scale(1.08);
    transition: transform 0.8s;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 10px 1px, rgba(6, 24, 44, 0.65) 0px 0px 0px 0px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.model_conten {
    position: absolute;
    bottom: 20px;
    background: linear-gradient(rgba(141, 141, 141, 0.555), rgba(5, 5, 5, 1));
    padding: 10px 30px 50px 30px;
    color: gray;
    z-index: 1;
}

.btmute {
    display: none;
}

#rowMovie-5 .rowContainer {
    width: 100%;
}