@media screen and (max-width: 500px) {
    body {
        background-color: beige;
    }
}

.rowContainer {
    margin: 10px 0 10px;
    padding: 5px 5px;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
}

.flex-none {
    display: block;
}

.ringht {
    width: 100%;
}

.left {
    width: 100%;
    height: auto;
}

.padding {
    padding: 0px 15px;
}

a:hover .itembot {
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 99;
}